@import "tailwindcss";

/* Color picker debug section so vscde has the color picker */
:root {
  --debug-primary-bg: #ffffff;
  --debug-primary-text: #111827;

  --debug-secondary-bg: #16345a;
  --debug-secondary-text: #ffffff;

  --debug-grey-text: #e7e7e7;

  /* These colors are not currently used, feel free to change them */
  --debug-accent-1: #518dee;
  --debug-accent-2: #22c55e;

  --debug-danger: #ef4444;
  --debug-border: #d1d5db;
}

@theme {
  --color-primary-bg: var(--debug-primary-bg);
  --color-primary-text: var(--debug-primary-text);

  --color-secondary-bg: var(--debug-secondary-bg);
  --color-secondary-text: var(--debug-secondary-text);

  --color-grey-text: var(--debug-grey-text);

  --color-accent-1: var(--debug-accent-1);
  --color-accent-2: var(--debug-accent-2);

  --color-danger: var(--debug-danger);
  --color-border: var(--debug-border);
}
