@import "tailwindcss";

/* Color picker debug section so vscde has the color picker */
:root {
  --debug-primary-bg: #16345a;
  --debug-primary-bg-dark: #132c4e;
  --debug-primary-text: #f7fafc;

  --debug-secondary-bg: #ffffff;
  --debug-secondary-text: #000000;

  --debug-grey-text: #e7e7e7;

  --debug-accent-1: #2f4a6e;
  --debug-accent-2: #22c55e;

  --debug-card-primary: #151616;

  --debug-text-primary: #ffffff;

  --debug-danger: #ef4444;
  --debug-border: #d1d5db;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme {
  --color-primary-bg: var(--debug-primary-bg);
  --color-primary-bg-dark: var(--debug-primary-bg-dark);

  --color-primary-text: var(--debug-primary-text);

  --color-secondary-bg: var(--debug-secondary-bg);
  --color-secondary-text: var(--debug-secondary-text);

  --color-grey-text: var(--debug-grey-text);

  --color-accent-1: var(--debug-accent-1);
  --color-accent-2: var(--debug-accent-2);

  --color-danger: var(--debug-danger);
  --color-border: var(--debug-border);
  --color-text-primary: var(--debug-text-primary);

  --color-card-primary: var(--debug-card-primary);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-primary-bg text-foreground;
  }
}

/* Page transition animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page-transition {
  animation: fadeIn 0.3s ease-out;
}

